body {
  background-color: #FF1493;
  font-family: "Times New Roman", Times, serif;
  color: #C71585
}

.kartu-profil {
  width: 100px;
  margin: 50px auto; 
  pandding: 50px;
  background-color: pink;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0. 1);
  text-align: center; 
}

.Kartu-profil img {
  width: 170px;
  border-radius: 50%
}    
