body {
  background-color: #FFFFE0; /* Warna Kuning cerah */
font-family:arial, sans-serif;/*jenis huruf yang bersih dan mudah di baca*/
color: #191970; /* Warna teks utama (Biru Gelap) */
}
.Kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan 
  Kiri/kanan */
  pandding: 20px;
  background-color: black;
  border-radius: 15px /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Efek bayangan */
}
.Kartu-profil img {
  width: 150px
  border-radius:50%; /* trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}
.kartu-profil {
  text-align: center;
}
  
